Repository wso2/carbon-apimgt, pull requests merged in 2018-10, with the labels that each got.

#5762 Create new api UI for web socket api
  features/apimgt/org.wso2.carbon.apimgt.publisher.feature/src/main/resources/publisher/public/locales/en.json
  features/apimgt/org.wso2.carbon.apimgt.publisher.feature/src/main/resources/publisher/source/src/app/components/Apis/Create/ApiCreate.jsx
  features/apimgt/org.wso2.carbon.apimgt.publisher.feature/src/main/resources/publisher/source/src/app/components/Apis/Create/Components/Commons.jsx
  features/apimgt/org.wso2.carbon.apimgt.publisher.feature/src/main/resources/publisher/source/src/app/components/Apis/Create/Endpoint/ApiCreateEndpoint.jsx
  features/apimgt/org.wso2.carbon.apimgt.publisher.feature/src/main/resources/publisher/source/src/app/components/Apis/Create/Websocket/ApiCreateWebsocket.jsx
  features/apimgt/org.wso2.carbon.apimgt.publisher.feature/src/main/resources/publisher/source/src/app/components/Apis/Listing/components/APICreateMenu.jsx
Labels: Docs/Has Impact

#5767 Prevent null values sending in event streams
  components/apimgt/org.wso2.carbon.apimgt.gateway/src/main/java/org/wso2/carbon/apimgt/gateway/handlers/analytics/APIMgtFaultHandler.java
  components/apimgt/org.wso2.carbon.apimgt.gateway/src/main/java/org/wso2/carbon/apimgt/gateway/handlers/analytics/APIMgtResponseHandler.java
  components/apimgt/org.wso2.carbon.apimgt.gateway/src/main/java/org/wso2/carbon/apimgt/gateway/handlers/analytics/APIMgtThrottleUsageHandler.java
Labels: APIM 2.6.0, Docs/No Impact

#5768 Append fix for carbon-apimgt/pull/5767
  components/apimgt/org.wso2.carbon.apimgt.gateway/src/main/java/org/wso2/carbon/apimgt/gateway/handlers/analytics/APIMgtResponseHandler.java
Labels: Docs/No Impact

#5777 Add api provider validater check
  features/apimgt/org.wso2.carbon.apimgt.publisher.feature/src/main/resources/publisher/site/blocks/item-design/ajax/add.jag
Labels: APIM 2.5.0, Docs/No Impact

#5776 Fixed JWT subscribed API's unavailable issue.
  components/apimgt/org.wso2.carbon.apimgt.impl/src/main/java/org/wso2/carbon/apimgt/impl/dao/ApiMgtDAO.java
  components/apimgt/org.wso2.carbon.apimgt.impl/src/main/java/org/wso2/carbon/apimgt/impl/dao/constants/SQLConstants.java
  components/apimgt/org.wso2.carbon.apimgt.keymgt/src/main/java/org/wso2/carbon/apimgt/keymgt/util/APIMTokenIssuerUtil.java
Labels: Docs/No Impact, Type/Bug

#5781 Fixing Admin dashboard login and customize velocity log
  components/apimgt/org.wso2.carbon.apimgt.hostobjects/src/main/java/org/wso2/carbon/apimgt/hostobjects/APIStoreHostObject.java
  components/apimgt/org.wso2.carbon.apimgt.impl/src/main/java/org/wso2/carbon/apimgt/impl/template/ThrottlePolicyTemplateBuilder.java
  components/apimgt/org.wso2.carbon.apimgt.impl/src/test/java/org/wso2/carbon/apimgt/impl/template/ThrottlingPolicyTemplateBuilderTest.java
  features/apimgt/org.wso2.carbon.apimgt.store.feature/src/main/resources/admin/modules/user/login.jag
Labels: Docs/No Impact

#5779 Fix https://github.com/wso2/product-apim/issues/3795
  components/apimgt/org.wso2.carbon.apimgt.impl/src/main/java/org/wso2/carbon/apimgt/impl/APIConsumerImpl.java
  features/apimgt/org.wso2.carbon.apimgt.store.feature/src/main/resources/store/site/themes/wso2/templates/api/documentation/download.jag
Labels: APIM 2.5.0, APIM 2.6.0, Docs/No Impact

#5765 Making the store theme-able friendly and adding new loading animations …
  features/apimgt/org.wso2.carbon.apimgt.store.feature/src/main/resources/store/pages/index.html
  features/apimgt/org.wso2.carbon.apimgt.store.feature/src/main/resources/store/public/css/animations.css
  features/apimgt/org.wso2.carbon.apimgt.store.feature/src/main/resources/store/public/css/fonts.css
  features/apimgt/org.wso2.carbon.apimgt.store.feature/src/main/resources/store/public/css/main.css
  features/apimgt/org.wso2.carbon.apimgt.store.feature/src/main/resources/store/public/images/logo-black.png
  features/apimgt/org.wso2.carbon.apimgt.store.feature/src/main/resources/store/public/theme/defaultTheme.js
  features/apimgt/org.wso2.carbon.apimgt.store.feature/src/main/resources/store/source/src/app/components/Apis/Details/Comments/Comments.js
  features/apimgt/org.wso2.carbon.apimgt.store.feature/src/main/resources/store/source/src/app/components/Apis/Details/Credentials/Credentials.js
  features/apimgt/org.wso2.carbon.apimgt.store.feature/src/main/resources/store/source/src/app/components/Apis/Details/InfoBar.js
  features/apimgt/org.wso2.carbon.apimgt.store.feature/src/main/resources/store/source/src/app/components/Apis/Details/RightPanel.js
  features/apimgt/org.wso2.carbon.apimgt.store.feature/src/main/resources/store/source/src/app/components/Apis/Details/index.js
  features/apimgt/org.wso2.carbon.apimgt.store.feature/src/main/resources/store/source/src/app/components/Apis/Listing/Listing.js
  features/apimgt/org.wso2.carbon.apimgt.store.feature/src/main/resources/store/source/src/app/components/Applications/Details/InfoBar.js
  features/apimgt/org.wso2.carbon.apimgt.store.feature/src/main/resources/store/source/src/app/components/Applications/Details/index.js
  features/apimgt/org.wso2.carbon.apimgt.store.feature/src/main/resources/store/source/src/app/components/Applications/Listing/Listing.js
  features/apimgt/org.wso2.carbon.apimgt.store.feature/src/main/resources/store/source/src/app/components/Base/index.js
  features/apimgt/org.wso2.carbon.apimgt.store.feature/src/main/resources/store/source/src/app/components/Shared/AppsAndKeys/ViewToken.js
  features/apimgt/org.wso2.carbon.apimgt.store.feature/src/main/resources/store/source/src/app/components/Shared/CustomIcon.js
  features/apimgt/org.wso2.carbon.apimgt.store.feature/src/main/resources/store/source/src/app/components/Shared/LeftMenuItem.js
  features/apimgt/org.wso2.carbon.apimgt.store.feature/src/main/resources/store/source/src/app/components/new/GlobalNavbar.js
Labels: APIM 3.0.0, Docs/No Impact

#5785 Handle workflow response null and empty cases
  components/apimgt/org.wso2.carbon.apimgt.impl/src/main/java/org/wso2/carbon/apimgt/impl/APIConsumerImpl.java
Labels: Docs/No Impact

#5787 Implement Scope validation for APIS
  components/apimgt/org.wso2.carbon.apimgt.core/src/main/java/org/wso2/carbon/apimgt/core/dao/ApplicationDAO.java
  components/apimgt/org.wso2.carbon.apimgt.core/src/main/java/org/wso2/carbon/apimgt/core/dao/impl/ApplicationDAOImpl.java
  components/apimgt/org.wso2.carbon.apimgt.core/src/main/java/org/wso2/carbon/apimgt/core/impl/APIDefinitionFromSwagger20.java
  components/apimgt/org.wso2.carbon.apimgt.core/src/main/java/org/wso2/carbon/apimgt/core/impl/APIManagerFactory.java
  components/apimgt/org.wso2.carbon.apimgt.core/src/main/java/org/wso2/carbon/apimgt/core/impl/APIPublisherImpl.java
  components/apimgt/org.wso2.carbon.apimgt.core/src/main/java/org/wso2/carbon/apimgt/core/impl/APIStoreImpl.java
  components/apimgt/org.wso2.carbon.apimgt.core/src/main/java/org/wso2/carbon/apimgt/core/models/API.java
  components/apimgt/org.wso2.carbon.apimgt.core/src/main/java/org/wso2/carbon/apimgt/core/util/APIMgtConstants.java
  components/apimgt/org.wso2.carbon.apimgt.core/src/test/java/org/wso2/carbon/apimgt/core/dao/impl/ApplicationDAOImplIT.java
  components/apimgt/org.wso2.carbon.apimgt.core/src/test/java/org/wso2/carbon/apimgt/core/impl/APIPublisherImplTestCase.java
  components/apimgt/org.wso2.carbon.apimgt.core/src/test/java/org/wso2/carbon/apimgt/core/impl/APIStoreImplTestCase.java
  components/apimgt/org.wso2.carbon.apimgt.rest.api.commons/src/main/java/org/wso2/carbon/apimgt/rest/api/common/util/RestApiUtil.java
  components/apimgt/org.wso2.carbon.apimgt.rest.api.store/src/main/java/org/wso2/carbon/apimgt/rest/api/store/utils/ApplicationImportExportManager.java
  components/apimgt/org.wso2.carbon.apimgt.rest.api.store/src/test/java/org/wso2/carbon/apimgt/rest/api/store/utils/ApplicationImportExportManagerTestCase.java
  features/apimgt/org.wso2.carbon.apimgt.core.feature/resources/dbscripts/h2.sql
  features/apimgt/org.wso2.carbon.apimgt.core.feature/resources/dbscripts/mssql.sql
  features/apimgt/org.wso2.carbon.apimgt.core.feature/resources/dbscripts/mysql.sql
  features/apimgt/org.wso2.carbon.apimgt.core.feature/resources/dbscripts/oracle.sql
  features/apimgt/org.wso2.carbon.apimgt.core.feature/resources/dbscripts/postgres.sql
  pom.xml
Labels: APIM 3.0.0, Docs/No Impact

#5782 Add missing fixes to error while downloading WSDL using the Store
  features/apimgt/org.wso2.carbon.apimgt.store.feature/src/main/resources/store/site/themes/wso2/templates/api/overview/template.jag
Labels: APIM 2.5.0, Docs/No Impact

#5791 Applying the new theme to publisher
  features/apimgt/org.wso2.carbon.apimgt.publisher.feature/src/main/resources/publisher/.eslintrc.js
  features/apimgt/org.wso2.carbon.apimgt.publisher.feature/src/main/resources/publisher/package-lock.json
  features/apimgt/org.wso2.carbon.apimgt.publisher.feature/src/main/resources/publisher/pages/index.html
  features/apimgt/org.wso2.carbon.apimgt.publisher.feature/src/main/resources/publisher/public/css/animations.css
  features/apimgt/org.wso2.carbon.apimgt.publisher.feature/src/main/resources/publisher/public/css/flexboxgrid.min.css
  features/apimgt/org.wso2.carbon.apimgt.publisher.feature/src/main/resources/publisher/public/css/main.css
  features/apimgt/org.wso2.carbon.apimgt.publisher.feature/src/main/resources/publisher/public/fonts/Open_Sans/LICENSE.txt
  features/apimgt/org.wso2.carbon.apimgt.publisher.feature/src/main/resources/publisher/public/fonts/Open_Sans/mem5YaGs126MiZpBA-UN7rgOUehpKKSTj5PW.woff2
  features/apimgt/org.wso2.carbon.apimgt.publisher.feature/src/main/resources/publisher/public/fonts/Open_Sans/mem5YaGs126MiZpBA-UN7rgOUuhpKKSTjw.woff2
  features/apimgt/org.wso2.carbon.apimgt.publisher.feature/src/main/resources/publisher/public/fonts/Open_Sans/mem5YaGs126MiZpBA-UN7rgOVuhpKKSTj5PW.woff2
  features/apimgt/org.wso2.carbon.apimgt.publisher.feature/src/main/resources/publisher/public/fonts/Open_Sans/mem5YaGs126MiZpBA-UN7rgOX-hpKKSTj5PW.woff2
  features/apimgt/org.wso2.carbon.apimgt.publisher.feature/src/main/resources/publisher/public/fonts/Open_Sans/mem5YaGs126MiZpBA-UN7rgOXOhpKKSTj5PW.woff2
  features/apimgt/org.wso2.carbon.apimgt.publisher.feature/src/main/resources/publisher/public/fonts/Open_Sans/mem5YaGs126MiZpBA-UN7rgOXehpKKSTj5PW.woff2
  features/apimgt/org.wso2.carbon.apimgt.publisher.feature/src/main/resources/publisher/public/fonts/Open_Sans/mem5YaGs126MiZpBA-UN7rgOXuhpKKSTj5PW.woff2
  features/apimgt/org.wso2.carbon.apimgt.publisher.feature/src/main/resources/publisher/public/fonts/Open_Sans/mem6YaGs126MiZpBA-UFUK0Udc1GAK6bt6o.woff2
  features/apimgt/org.wso2.carbon.apimgt.publisher.feature/src/main/resources/publisher/public/fonts/Open_Sans/mem6YaGs126MiZpBA-UFUK0Vdc1GAK6bt6o.woff2
  features/apimgt/org.wso2.carbon.apimgt.publisher.feature/src/main/resources/publisher/public/fonts/Open_Sans/mem6YaGs126MiZpBA-UFUK0Wdc1GAK6bt6o.woff2
  features/apimgt/org.wso2.carbon.apimgt.publisher.feature/src/main/resources/publisher/public/fonts/Open_Sans/mem6YaGs126MiZpBA-UFUK0Xdc1GAK6bt6o.woff2
  features/apimgt/org.wso2.carbon.apimgt.publisher.feature/src/main/resources/publisher/public/fonts/Open_Sans/mem6YaGs126MiZpBA-UFUK0Zdc1GAK6b.woff2
  features/apimgt/org.wso2.carbon.apimgt.publisher.feature/src/main/resources/publisher/public/fonts/Open_Sans/mem6YaGs126MiZpBA-UFUK0adc1GAK6bt6o.woff2
  features/apimgt/org.wso2.carbon.apimgt.publisher.feature/src/main/resources/publisher/public/fonts/Open_Sans/mem6YaGs126MiZpBA-UFUK0ddc1GAK6bt6o.woff2
  features/apimgt/org.wso2.carbon.apimgt.publisher.feature/src/main/resources/publisher/public/fonts/Open_Sans/mem8YaGs126MiZpBA-UFUZ0bf8pkAp6a.woff2
  features/apimgt/org.wso2.carbon.apimgt.publisher.feature/src/main/resources/publisher/public/fonts/Open_Sans/mem8YaGs126MiZpBA-UFVZ0bf8pkAg.woff2
  features/apimgt/org.wso2.carbon.apimgt.publisher.feature/src/main/resources/publisher/public/fonts/Open_Sans/mem8YaGs126MiZpBA-UFVp0bf8pkAp6a.woff2
  features/apimgt/org.wso2.carbon.apimgt.publisher.feature/src/main/resources/publisher/public/fonts/Open_Sans/mem8YaGs126MiZpBA-UFW50bf8pkAp6a.woff2
  features/apimgt/org.wso2.carbon.apimgt.publisher.feature/src/main/resources/publisher/public/fonts/Open_Sans/mem8YaGs126MiZpBA-UFWJ0bf8pkAp6a.woff2
  features/apimgt/org.wso2.carbon.apimgt.publisher.feature/src/main/resources/publisher/public/fonts/Open_Sans/mem8YaGs126MiZpBA-UFWZ0bf8pkAp6a.woff2
  features/apimgt/org.wso2.carbon.apimgt.publisher.feature/src/main/resources/publisher/public/fonts/Open_Sans/mem8YaGs126MiZpBA-UFWp0bf8pkAp6a.woff2
  features/apimgt/org.wso2.carbon.apimgt.publisher.feature/src/main/resources/publisher/public/images/back-light.png
  features/apimgt/org.wso2.carbon.apimgt.publisher.feature/src/main/resources/publisher/public/images/logo-black.png
  features/apimgt/org.wso2.carbon.apimgt.publisher.feature/src/main/resources/publisher/public/images/logo.png
  features/apimgt/org.wso2.carbon.apimgt.publisher.feature/src/main/resources/publisher/public/theme/defaultTheme.js
  features/apimgt/org.wso2.carbon.apimgt.publisher.feature/src/main/resources/publisher/source/index.jsx
  features/apimgt/org.wso2.carbon.apimgt.publisher.feature/src/main/resources/publisher/source/src/app/ProtectedApp.jsx
  features/apimgt/org.wso2.carbon.apimgt.publisher.feature/src/main/resources/publisher/source/src/app/components/Apis/Create/ApiCreate.jsx
  features/apimgt/org.wso2.carbon.apimgt.publisher.feature/src/main/resources/publisher/source/src/app/components/Apis/Create/Components/APICreateTopMenu.jsx
  features/apimgt/org.wso2.carbon.apimgt.publisher.feature/src/main/resources/publisher/source/src/app/components/Apis/Details/Resources/Resources.jsx
  features/apimgt/org.wso2.carbon.apimgt.publisher.feature/src/main/resources/publisher/source/src/app/components/Apis/Details/components/APIDetailsTopMenu.jsx
  features/apimgt/org.wso2.carbon.apimgt.publisher.feature/src/main/resources/publisher/source/src/app/components/Apis/Details/components/DeleteApiButton.jsx
  features/apimgt/org.wso2.carbon.apimgt.publisher.feature/src/main/resources/publisher/source/src/app/components/Apis/Details/index.jsx
  features/apimgt/org.wso2.carbon.apimgt.publisher.feature/src/main/resources/publisher/source/src/app/components/Apis/Listing/Listing.jsx
  features/apimgt/org.wso2.carbon.apimgt.publisher.feature/src/main/resources/publisher/source/src/app/components/Apis/Listing/components/APICreateMenu.jsx
  features/apimgt/org.wso2.carbon.apimgt.publisher.feature/src/main/resources/publisher/source/src/app/components/Apis/Listing/components/TopMenu.jsx
  features/apimgt/org.wso2.carbon.apimgt.publisher.feature/src/main/resources/publisher/source/src/app/components/Base/Header/avatar/Avatar.jsx
  features/apimgt/org.wso2.carbon.apimgt.publisher.feature/src/main/resources/publisher/source/src/app/components/Base/Header/index.jsx
  features/apimgt/org.wso2.carbon.apimgt.publisher.feature/src/main/resources/publisher/source/src/app/components/Base/Header/navbar/GlobalNavBar.jsx
  features/apimgt/org.wso2.carbon.apimgt.publisher.feature/src/main/resources/publisher/source/src/app/components/Base/container/index.jsx
  features/apimgt/org.wso2.carbon.apimgt.publisher.feature/src/main/resources/publisher/source/src/app/components/Base/container/navigation/NavItem.jsx
  features/apimgt/org.wso2.carbon.apimgt.publisher.feature/src/main/resources/publisher/source/src/app/components/Base/container/navigation/PageNav.jsx
  features/apimgt/org.wso2.carbon.apimgt.publisher.feature/src/main/resources/publisher/source/src/app/components/Base/index.jsx
  features/apimgt/org.wso2.carbon.apimgt.publisher.feature/src/main/resources/publisher/source/src/app/components/Shared/CustomIcon.jsx
  features/apimgt/org.wso2.carbon.apimgt.publisher.feature/src/main/resources/publisher/source/src/app/components/Shared/LeftMenuItem.jsx
  features/apimgt/org.wso2.carbon.apimgt.publisher.feature/src/main/resources/publisher/source/src/app/components/Shared/VerticalDivider.jsx
Labels: APIM 3.0.0, Docs/Has Impact

#5756 changing the privacy policy notification message
  features/apimgt/org.wso2.carbon.apimgt.store.feature/src/main/resources/store/site/conf/locales/jaggery/locale_default.json
  features/apimgt/org.wso2.carbon.apimgt.store.feature/src/main/resources/store/site/conf/locales/jaggery/locale_en.json
  features/apimgt/org.wso2.carbon.apimgt.store.feature/src/main/resources/store/site/themes/wso2/templates/user/login/template.jag
  features/apimgt/org.wso2.carbon.apimgt.store.feature/src/main/resources/store/site/themes/wso2/templates/user/sign-up/template.jag
Labels: Docs/No Impact

#5799 UI enhancements
  features/apimgt/org.wso2.carbon.apimgt.publisher.feature/src/main/resources/publisher/public/locales/en.json
  features/apimgt/org.wso2.carbon.apimgt.publisher.feature/src/main/resources/publisher/source/src/app/components/Apis/Create/Components/APICreateForm.jsx
  features/apimgt/org.wso2.carbon.apimgt.publisher.feature/src/main/resources/publisher/source/src/app/components/Apis/Create/Endpoint/APIInputForm.jsx
  features/apimgt/org.wso2.carbon.apimgt.publisher.feature/src/main/resources/publisher/source/src/app/components/Apis/Create/Swagger/ApiCreateSwagger.jsx
  features/apimgt/org.wso2.carbon.apimgt.publisher.feature/src/main/resources/publisher/source/src/app/components/Apis/Listing/TableView/APITableHeader.jsx
  features/apimgt/org.wso2.carbon.apimgt.publisher.feature/src/main/resources/publisher/source/src/app/components/Apis/Listing/TableView/TableView.jsx
Labels: APIM 3.0.0, Docs/Has Impact, Type/Improvement

#5806 Fixed syntax error in oracle_rac.sql
  features/apimgt/org.wso2.carbon.apimgt.core.feature/src/main/resources/sql/oracle_rac.sql
Labels: Docs/No Impact, Type/Bug

#5807 Test profile for mac users to run db test suite
  components/apimgt/org.wso2.carbon.apimgt.core/pom.xml
  pom.xml
Labels: Docs/No Impact

#5808 Fix for allowing only admin tenant to delete certificates
  components/apimgt/org.wso2.carbon.apimgt.impl/src/main/java/org/wso2/carbon/apimgt/impl/certificatemgt/CertificateManagerImpl.java
Labels: Docs/No Impact

#5803 Implement JWT token type for Applications
  components/apimgt/org.wso2.carbon.apimgt.core/src/main/java/org/wso2/carbon/apimgt/core/api/APIStore.java
  components/apimgt/org.wso2.carbon.apimgt.core/src/main/java/org/wso2/carbon/apimgt/core/auth/dto/DCRClientInfo.java
  components/apimgt/org.wso2.carbon.apimgt.core/src/main/java/org/wso2/carbon/apimgt/core/impl/APIStoreImpl.java
  components/apimgt/org.wso2.carbon.apimgt.core/src/main/java/org/wso2/carbon/apimgt/core/impl/DefaultKeyManagerImpl.java
  components/apimgt/org.wso2.carbon.apimgt.core/src/main/java/org/wso2/carbon/apimgt/core/models/OAuthAppRequest.java
  components/apimgt/org.wso2.carbon.apimgt.core/src/main/java/org/wso2/carbon/apimgt/core/models/OAuthApplicationInfo.java
  components/apimgt/org.wso2.carbon.apimgt.core/src/main/java/org/wso2/carbon/apimgt/core/util/APIMgtConstants.java
  components/apimgt/org.wso2.carbon.apimgt.core/src/test/java/org/wso2/carbon/apimgt/core/impl/DefaultKeyManagerImplTestCase.java
  components/apimgt/org.wso2.carbon.apimgt.rest.api.authenticator/src/main/java/org/wso2/carbon/apimgt/rest/api/authenticator/AuthenticatorService.java
  components/apimgt/org.wso2.carbon.apimgt.rest.api.store/src/gen/java/org/wso2/carbon/apimgt/rest/api/store/dto/ApplicationKeyGenerateRequestDTO.java
  components/apimgt/org.wso2.carbon.apimgt.rest.api.store/src/gen/java/org/wso2/carbon/apimgt/rest/api/store/dto/ApplicationKeysDTO.java
  components/apimgt/org.wso2.carbon.apimgt.rest.api.store/src/main/java/org/wso2/carbon/apimgt/rest/api/store/impl/ApplicationsApiServiceImpl.java
  components/apimgt/org.wso2.carbon.apimgt.rest.api.store/src/main/java/org/wso2/carbon/apimgt/rest/api/store/mappings/ApplicationKeyMappingUtil.java
  components/apimgt/org.wso2.carbon.apimgt.rest.api.store/src/main/resources/store-api.yaml
  components/apimgt/org.wso2.carbon.apimgt.rest.api.store/src/test/java/org/wso2/carbon/apimgt/rest/api/store/impl/ApplicationsApiServiceImplTestCase.java
  components/apimgt/org.wso2.carbon.apimgt.rest.api.store/src/test/java/org/wso2/carbon/apimgt/rest/api/store/mappings/ApplicationKeyMappingUtilTestCase.java
  features/apimgt/org.wso2.carbon.apimgt.store.feature/src/main/resources/store/public/locales/en.json
  features/apimgt/org.wso2.carbon.apimgt.store.feature/src/main/resources/store/source/src/app/components/Applications/Details/ProductionKeys.js
  features/apimgt/org.wso2.carbon.apimgt.store.feature/src/main/resources/store/source/src/app/components/Shared/AppsAndKeys/Keys.js
  features/apimgt/org.wso2.carbon.apimgt.store.feature/src/main/resources/store/source/src/app/components/Shared/AppsAndKeys/Tokens.js
  features/apimgt/org.wso2.carbon.apimgt.store.feature/src/main/resources/store/source/src/app/data/Application.js
  pom.xml
Labels: APIM 3.0.0, Docs/Has Impact

#5819 Add subscription UI
  components/apimgt/org.wso2.carbon.apimgt.rest.api.publisher/src/gen/java/org/wso2/carbon/apimgt/rest/api/publisher/EndpointsApi.java
  components/apimgt/org.wso2.carbon.apimgt.rest.api.publisher/src/main/resources/publisher-api.yaml
  docs/apis/publisher/v1.0/index.html
  docs/apis/publisher/v1.0/operations/Endpointindividual.html
  features/apimgt/org.wso2.carbon.apimgt.publisher.feature/src/main/resources/publisher/public/locales/en.json
  features/apimgt/org.wso2.carbon.apimgt.publisher.feature/src/main/resources/publisher/source/src/app/components/Apis/Details/Subscriptions/Subscriptions.jsx
  features/apimgt/org.wso2.carbon.apimgt.publisher.feature/src/main/resources/publisher/source/src/app/components/Apis/Details/Subscriptions/SubscriptionsTable.jsx
  features/apimgt/org.wso2.carbon.apimgt.publisher.feature/src/main/resources/publisher/source/src/app/components/Apis/Details/index.jsx
Labels: Docs/Has Impact

#5822 Sorting custom sequences when showing in the Publisher
  components/apimgt/org.wso2.carbon.apimgt.impl/src/main/java/org/wso2/carbon/apimgt/impl/APIProviderImpl.java
  components/apimgt/org.wso2.carbon.apimgt.impl/src/test/java/org/wso2/carbon/apimgt/impl/APIProviderImplTest.java
  features/apimgt/org.wso2.carbon.apimgt.publisher.feature/src/main/resources/publisher/site/conf/locales/jaggery/locale_default.json
Labels: Docs/No Impact

#5820 Fix broken UI in 3.0 publisher security tab
  features/apimgt/org.wso2.carbon.apimgt.publisher.feature/src/main/resources/publisher/source/src/app/components/Apis/Details/Security/AddPolicy.js
  features/apimgt/org.wso2.carbon.apimgt.publisher.feature/src/main/resources/publisher/source/src/app/components/Apis/Details/Security/SecurityOverview.js
Labels: Docs/No Impact

#5810 Create scopes
  features/apimgt/org.wso2.carbon.apimgt.publisher.feature/src/main/resources/publisher/public/locales/en.json
  features/apimgt/org.wso2.carbon.apimgt.publisher.feature/src/main/resources/publisher/source/src/app/components/Apis/Details/Overview/Overview.jsx
  features/apimgt/org.wso2.carbon.apimgt.publisher.feature/src/main/resources/publisher/source/src/app/components/Apis/Details/Scopes/CreateScope.jsx
  features/apimgt/org.wso2.carbon.apimgt.publisher.feature/src/main/resources/publisher/source/src/app/components/Apis/Details/Scopes/Scopes.jsx
  features/apimgt/org.wso2.carbon.apimgt.publisher.feature/src/main/resources/publisher/source/src/app/components/Apis/Details/Scopes/index.jsx
  features/apimgt/org.wso2.carbon.apimgt.publisher.feature/src/main/resources/publisher/source/src/app/components/Apis/Details/index.jsx
Labels: Docs/Has Impact

#5828 Adding client side validation to api create forms except the wsdl page
  features/apimgt/org.wso2.carbon.apimgt.publisher.feature/src/main/resources/publisher/.eslintignore
  features/apimgt/org.wso2.carbon.apimgt.publisher.feature/src/main/resources/publisher/public/images/robo.png
  features/apimgt/org.wso2.carbon.apimgt.publisher.feature/src/main/resources/publisher/public/locales/en.json
  features/apimgt/org.wso2.carbon.apimgt.publisher.feature/src/main/resources/publisher/source/src/app/components/Apis/Create/Components/APICreateForm.jsx
  features/apimgt/org.wso2.carbon.apimgt.publisher.feature/src/main/resources/publisher/source/src/app/components/Apis/Create/Components/APICreateTopMenu.jsx
  features/apimgt/org.wso2.carbon.apimgt.publisher.feature/src/main/resources/publisher/source/src/app/components/Apis/Create/Endpoint/APIInputForm.jsx
  features/apimgt/org.wso2.carbon.apimgt.publisher.feature/src/main/resources/publisher/source/src/app/components/Apis/Create/Swagger/ApiCreateSwagger.jsx
  features/apimgt/org.wso2.carbon.apimgt.publisher.feature/src/main/resources/publisher/source/src/app/components/Apis/Details/LifeCycle/Policies.jsx
  features/apimgt/org.wso2.carbon.apimgt.publisher.feature/src/main/resources/publisher/source/src/app/components/Base/index.jsx
Labels: APIM 3.0.0, Docs/Has Impact

#5833 Handling application post and put in the Store REST API
  components/apimgt/org.wso2.carbon.apimgt.impl/src/main/java/org/wso2/carbon/apimgt/impl/dao/ApiMgtDAO.java
  components/apimgt/org.wso2.carbon.apimgt.rest.api.store/src/main/java/org/wso2/carbon/apimgt/rest/api/store/impl/ApplicationsApiServiceImpl.java
  components/apimgt/org.wso2.carbon.apimgt.rest.api.store/src/main/java/org/wso2/carbon/apimgt/rest/api/store/utils/RestAPIStoreUtils.java
  components/apimgt/org.wso2.carbon.apimgt.rest.api.store/src/main/java/org/wso2/carbon/apimgt/rest/api/store/utils/mappings/ApplicationMappingUtil.java
  components/apimgt/org.wso2.carbon.apimgt.rest.api.store/src/main/resources/store-api.yaml
Labels: Docs/No Impact

#5813 fix for documentation download issue.#3842
  components/apimgt/org.wso2.carbon.apimgt.impl/src/main/java/org/wso2/carbon/apimgt/impl/APIConsumerImpl.java
  components/apimgt/org.wso2.carbon.apimgt.impl/src/main/java/org/wso2/carbon/apimgt/impl/APIProviderImpl.java
  features/apimgt/org.wso2.carbon.apimgt.publisher.feature/src/main/resources/publisher/site/themes/wso2/templates/page/base/js/jagg.js
  features/apimgt/org.wso2.carbon.apimgt.store.feature/src/main/resources/store/site/themes/wso2/templates/api/documentation/download.jag
  features/apimgt/org.wso2.carbon.apimgt.store.feature/src/main/resources/store/site/themes/wso2/templates/page/base/js/jagg.js
Labels: Docs/No Impact

#5835 Updating the create api with WSDL page
  features/apimgt/org.wso2.carbon.apimgt.publisher.feature/src/main/resources/publisher/public/locales/en.json
  features/apimgt/org.wso2.carbon.apimgt.publisher.feature/src/main/resources/publisher/public/theme/defaultTheme.js
  features/apimgt/org.wso2.carbon.apimgt.publisher.feature/src/main/resources/publisher/source/src/app/components/Apis/Create/Components/APICreateForm.jsx
  features/apimgt/org.wso2.carbon.apimgt.publisher.feature/src/main/resources/publisher/source/src/app/components/Apis/Create/Components/CheckboxOrRadioGroup.jsx
  features/apimgt/org.wso2.carbon.apimgt.publisher.feature/src/main/resources/publisher/source/src/app/components/Apis/Create/Components/Select.jsx
  features/apimgt/org.wso2.carbon.apimgt.publisher.feature/src/main/resources/publisher/source/src/app/components/Apis/Create/Components/SingleInput.jsx
  features/apimgt/org.wso2.carbon.apimgt.publisher.feature/src/main/resources/publisher/source/src/app/components/Apis/Create/Components/TextArea.jsx
  features/apimgt/org.wso2.carbon.apimgt.publisher.feature/src/main/resources/publisher/source/src/app/components/Apis/Create/Swagger/ApiCreateSwagger.jsx
  features/apimgt/org.wso2.carbon.apimgt.publisher.feature/src/main/resources/publisher/source/src/app/components/Apis/Create/WSDL/ApiCreateWSDL.jsx
  features/apimgt/org.wso2.carbon.apimgt.publisher.feature/src/main/resources/publisher/source/src/app/components/Apis/Create/WSDL/BindingInfo.jsx
  features/apimgt/org.wso2.carbon.apimgt.publisher.feature/src/main/resources/publisher/source/src/app/components/Apis/Create/WSDL/Steps/FileUpload.jsx
  features/apimgt/org.wso2.carbon.apimgt.publisher.feature/src/main/resources/publisher/source/src/app/components/Apis/Create/WSDL/Steps/ProvideWSDL.jsx
  features/apimgt/org.wso2.carbon.apimgt.publisher.feature/src/main/resources/publisher/source/src/app/components/Base/index.jsx
Labels: APIM 3.0.0, Docs/Has Impact

#5837 Improvements to Publisher OpenAPI support
  components/apimgt/org.wso2.carbon.apimgt.impl/src/main/java/org/wso2/carbon/apimgt/impl/APIConstants.java
  components/apimgt/org.wso2.carbon.apimgt.impl/src/main/java/org/wso2/carbon/apimgt/impl/definitions/APIDefinitionFromOpenAPISpec.java
  features/apimgt/org.wso2.carbon.apimgt.publisher.feature/src/main/resources/publisher/site/blocks/item-design/ajax/add.jag
  features/apimgt/org.wso2.carbon.apimgt.publisher.feature/src/main/resources/publisher/site/themes/wso2/templates/item-design/js/api-design.js
  features/apimgt/org.wso2.carbon.apimgt.publisher.feature/src/main/resources/publisher/site/themes/wso2/templates/item-design/template.jag
  features/apimgt/org.wso2.carbon.apimgt.publisher.feature/src/main/resources/publisher/site/themes/wso2/templates/item-implement/template.jag
  features/apimgt/org.wso2.carbon.apimgt.publisher.feature/src/main/resources/publisher/site/themes/wso2/templates/item-manage/template.jag
Labels: APIM 2.7.0, Docs/No Impact

#5839 Add test case for openapi validation
  components/apimgt/org.wso2.carbon.apimgt.impl/src/test/java/org/wso2/carbon/apimgt/impl/definitions/APIDefinitionFromOpenAPISpecTest.java
Labels: APIM 2.7.0, Docs/No Impact

#5842 Improve openapi validation
  components/apimgt/org.wso2.carbon.apimgt.impl/src/main/java/org/wso2/carbon/apimgt/impl/APIConstants.java
  components/apimgt/org.wso2.carbon.apimgt.impl/src/main/java/org/wso2/carbon/apimgt/impl/definitions/APIDefinitionFromOpenAPISpec.java
  components/apimgt/org.wso2.carbon.apimgt.impl/src/test/java/org/wso2/carbon/apimgt/impl/definitions/APIDefinitionFromOpenAPISpecTest.java
Labels: APIM 2.7.0, Docs/No Impact

#5774 Manage API Thumbnail
  features/apimgt/org.wso2.carbon.apimgt.publisher.feature/src/main/resources/publisher/public/locales/en.json
  features/apimgt/org.wso2.carbon.apimgt.publisher.feature/src/main/resources/publisher/source/src/app/components/Apis/Details/components/APIDetailsTopMenu.jsx
  features/apimgt/org.wso2.carbon.apimgt.publisher.feature/src/main/resources/publisher/source/src/app/components/Apis/Listing/components/ApiThumb.jsx
  features/apimgt/org.wso2.carbon.apimgt.publisher.feature/src/main/resources/publisher/source/src/app/components/Apis/Listing/components/ImageGenerator.jsx
  features/apimgt/org.wso2.carbon.apimgt.publisher.feature/src/main/resources/publisher/source/src/app/components/Apis/Listing/components/ThumbnailView.jsx
  features/apimgt/org.wso2.carbon.apimgt.publisher.feature/src/main/resources/publisher/source/src/app/data/api.js
Labels: APIM 3.0.0, Docs/Has Impact, Type/New Feature
