Repository wso2/carbon-apimgt, pull requests merged in 2019-10, with the labels that each got.

#7326 document related fixes
  features/apimgt/org.wso2.carbon.apimgt.publisher.feature/src/main/resources/publisher/source/src/app/components/Apis/Details/Documents/CreateEditForm.jsx
  features/apimgt/org.wso2.carbon.apimgt.publisher.feature/src/main/resources/publisher/source/src/app/components/Apis/Details/Documents/Listing.jsx
  features/apimgt/org.wso2.carbon.apimgt.store.feature/src/main/resources/devportal/source/src/app/components/Apis/Details/Documents/Documentation.jsx
  features/apimgt/org.wso2.carbon.apimgt.store.feature/src/main/resources/devportal/source/src/app/components/Apis/Details/Documents/View.jsx
  features/apimgt/org.wso2.carbon.apimgt.store.feature/src/main/resources/devportal/source/src/app/components/Apis/Details/Overview.jsx
  features/apimgt/org.wso2.carbon.apimgt.store.feature/src/main/resources/devportal/source/src/app/components/Apis/Details/OverviewDocuments.jsx
  features/apimgt/org.wso2.carbon.apimgt.store.feature/src/main/resources/devportal/source/src/app/components/Shared/UseWindowSize.jsx
Labels: APIM 3.0.0

#7327 Fix for product-apim#6179
  features/apimgt/org.wso2.carbon.apimgt.publisher.feature/src/main/resources/publisher/source/src/app/components/Base/Header/avatar/Avatar.jsx
Labels: Severity/Major

#7423 JWT token revocation for synapse gateway
  components/apimgt/org.wso2.carbon.apimgt.gateway/src/main/java/org/wso2/carbon/apimgt/gateway/dto/RevokedJWTTokenDTO.java
  components/apimgt/org.wso2.carbon.apimgt.gateway/src/main/java/org/wso2/carbon/apimgt/gateway/handlers/ext/APIManagerCacheExtensionHandler.java
  components/apimgt/org.wso2.carbon.apimgt.gateway/src/main/java/org/wso2/carbon/apimgt/gateway/handlers/security/jwt/JWTValidator.java
  components/apimgt/org.wso2.carbon.apimgt.gateway/src/main/java/org/wso2/carbon/apimgt/gateway/internal/APIHandlerServiceComponent.java
  components/apimgt/org.wso2.carbon.apimgt.gateway/src/main/java/org/wso2/carbon/apimgt/gateway/jwt/RevokedJWTDataHolder.java
  components/apimgt/org.wso2.carbon.apimgt.gateway/src/main/java/org/wso2/carbon/apimgt/gateway/jwt/RevokedJWTMapCleaner.java
  components/apimgt/org.wso2.carbon.apimgt.gateway/src/main/java/org/wso2/carbon/apimgt/gateway/jwt/RevokedJWTTokensRetriever.java
  components/apimgt/org.wso2.carbon.apimgt.gateway/src/test/java/org/wso2/carbon/apimgt/gateway/internal/APIHandlerServiceComponentTestCase.java
  components/apimgt/org.wso2.carbon.apimgt.impl/src/main/java/org/wso2/carbon/apimgt/impl/dao/ApiMgtDAO.java
  components/apimgt/org.wso2.carbon.apimgt.impl/src/main/java/org/wso2/carbon/apimgt/impl/dao/constants/SQLConstants.java
  components/apimgt/org.wso2.carbon.apimgt.impl/src/main/java/org/wso2/carbon/apimgt/impl/utils/APIUtil.java
  components/apimgt/org.wso2.carbon.apimgt.impl/src/test/resources/dbscripts/h2.sql
  components/apimgt/org.wso2.carbon.apimgt.jms.listener/src/main/java/org/wso2/carbon/apimgt/jms/listener/utils/JMSMessageListener.java
  components/apimgt/org.wso2.carbon.apimgt.jms.listener/src/test/java/org/wso2/carbon/apimgt/jms/listener/utils/JMSMessageListenerTest.java
  components/apimgt/org.wso2.carbon.apimgt.keymgt/src/main/java/org/wso2/carbon/apimgt/keymgt/ExpiredJWTCleaner.java
  components/apimgt/org.wso2.carbon.apimgt.keymgt/src/main/java/org/wso2/carbon/apimgt/keymgt/events/APIMOAuthEventInterceptor.java
  components/apimgt/org.wso2.carbon.apimgt.keymgt/src/test/resources/dbscripts/h2.sql
  components/apimgt/org.wso2.carbon.apimgt.throttling.service/src/gen/java/org/wso2/carbon/throttle/service/RevokedjwtApi.java
  components/apimgt/org.wso2.carbon.apimgt.throttling.service/src/gen/java/org/wso2/carbon/throttle/service/RevokedjwtApiService.java
  components/apimgt/org.wso2.carbon.apimgt.throttling.service/src/gen/java/org/wso2/carbon/throttle/service/dto/RevokedJWTDTO.java
  components/apimgt/org.wso2.carbon.apimgt.throttling.service/src/gen/java/org/wso2/carbon/throttle/service/dto/RevokedJWTListDTO.java
  components/apimgt/org.wso2.carbon.apimgt.throttling.service/src/gen/java/org/wso2/carbon/throttle/service/factories/RevokedjwtApiServiceFactory.java
  components/apimgt/org.wso2.carbon.apimgt.throttling.service/src/main/java/org/wso2/carbon/throttle/service/impl/BlockConditionDBUtil.java
  components/apimgt/org.wso2.carbon.apimgt.throttling.service/src/main/java/org/wso2/carbon/throttle/service/impl/RevokedjwtApiServiceImpl.java
  components/apimgt/org.wso2.carbon.apimgt.throttling.service/src/main/resources/api.yaml
  components/apimgt/org.wso2.carbon.apimgt.throttling.service/src/main/webapp/WEB-INF/beans.xml
  features/apimgt/org.wso2.carbon.apimgt.core.feature/src/main/resources/sql/db2.sql
  features/apimgt/org.wso2.carbon.apimgt.core.feature/src/main/resources/sql/h2.sql
  features/apimgt/org.wso2.carbon.apimgt.core.feature/src/main/resources/sql/mssql.sql
  features/apimgt/org.wso2.carbon.apimgt.core.feature/src/main/resources/sql/mysql.sql
  features/apimgt/org.wso2.carbon.apimgt.core.feature/src/main/resources/sql/mysql_cluster.sql
  features/apimgt/org.wso2.carbon.apimgt.core.feature/src/main/resources/sql/oracle.sql
  features/apimgt/org.wso2.carbon.apimgt.core.feature/src/main/resources/sql/oracle_rac.sql
  features/apimgt/org.wso2.carbon.apimgt.core.feature/src/main/resources/sql/postgresql.sql
  features/apimgt/org.wso2.carbon.apimgt.keymanager.feature/src/main/resources/sql/h2.sql
Labels: APIM 3.0.0

#7765 Fix wso2/product-apim#6621
  components/apimgt/org.wso2.carbon.apimgt.rest.api.util/src/main/java/org/wso2/carbon/apimgt/rest/api/util/interceptors/SubscriberRegistrationInterceptor.java
Labels: APIM 3.0.0, Severity/Critical
